display_label=false
display_icon=false
display_power=true
display_percentage=true
display_bar=false
display_time=true
tooltip_display_percentage=true
tooltip_display_time=true
low_percentage=20
critical_percentage=13
action_on_low=1
action_on_critical=1
hide_when_full=-1086490660
colorA=#8888FF
colorH=#00FF00
colorL=#FFFF00
colorC=#FF0000
command_on_low=
command_on_critical=

